<!doctype html>
<html lang="en">

<head>
    <title>:: CVBBD :: DETECTION</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/sweetalert.css"/>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/main.css">
    <link rel="stylesheet" href="../../static/adminResources/css/color_skins.css">
    <style>
        td.details-control {
            background: url('../../static/adminResources/image/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../../static/adminResources/image/details_close.png') no-repeat center center;
        }
    </style>
</head>
<body class="theme-cyan">

<!-- Overlay For Sidebars -->
<div id="wrapper">

    <!-- Header -->
    {% include 'admin/header.html' %}

    <!-- Menu -->
    {% include 'admin/menu.html' %}

    <!-------------------- View Users header-------------------->
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Manage Detection
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>View Detection</h2>
                    </div>
                    <div class="body">
                        <table class="table table-bordered table-striped table-hover table-responsive"
                               style="overflow-y: scroll">
                            <thead>
                            <tr>
                                <th>Restaurant Name</th>
                                <th>Branch Name</th>
                                <th>Input Video FileName</th>
                                <th>Input Video FilePath</th>
                                <th>Upload Date</th>
                                <th>Upload Time</th>
                                <th>Action</th>
                                <th>Output Video FileName</th>
                                <th>Output Video FilePath</th>
                                <th>Upload Date</th>
                                <th>Upload Time</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in videoVOList %}
                                <tr>
                                    <td>{{ i[2]['restaurantName'] }}</td>
                                    <td>{{ i[1]['branchName'] }}</td>
                                    <td>{{ i[0]['inputVideoFileName'] }}</td>
                                    <td>{{ i[0]['inputVideoFilePath'] }}</td>
                                    <td>{{ i[0]['inputVideoUploadDate'] }}</td>
                                    <td>{{ i[0]['inputVideoUploadTime'] }}</td>
                                    <td><a href="{{ i[0]['inputVideoFilePath'] }}{{ i[0]['inputVideoFileName'] }}"
                                           target="_blank" style="height:200px;width:200px;"><i
                                            class="fa fa-eye" style="font-size: 20px;color:blue;"></i></a>
                                    </td>
                                    <td>{{ i[0]['outputVideoFileName'] }}</td>
                                    <td>{{ i[0]['outputVideoFilePath'] }}</td>
                                    <td>{{ i[0]['outputVideoUploadDate'] }}</td>
                                    <td>{{ i[0]['outputVideoUploadTime'] }}</td>
                                    <td><a href="{{ i[0]['outputVideoFilePath'] }}{{ i[0]['outputVideoFileName'] }}"
                                           target="_blank" style="height:200px;width:200px;"><i
                                            class="fa fa-eye" style="font-size: 20px;color:blue;"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Javascript -->
<script src="../../static/adminResources/js/libscripts.bundle.js"></script>
<script src="../../static/adminResources/js/vendorscripts.bundle.js"></script>

<script src="../../static/adminResources/js/datatablescripts.bundle.js"></script>
<script src="../../static/adminResources/js/dataTables.buttons.min.js"></script>
<script src="../../static/adminResources/js/buttons.bootstrap4.min.js"></script>
<script src="../../static/adminResources/js/buttons.colVis.min.js"></script>
<script src="../../static/adminResources/js/buttons.html5.min.js"></script>
<script src="../../static/adminResources/js/buttons.print.min.js"></script>

<script src="../../static/adminResources/js/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->


<script src="../../static/adminResources/js/mainscripts.bundle.js"></script>
<script src="../../static/adminResources/js/jquery-datatable.js"></script>
</body>
l
</html>
