<!doctype html>
<html lang="en">

<head>
    <title>:: CVBBD :: VIDEO</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/sweetalert.css"/>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/main.css">
    <link rel="stylesheet" href="../../static/adminResources/css/color_skins.css">
    <style>
        td.details-control {
            background: url('../../static/adminResources/image/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../../static/adminResources/image/details_close.png') no-repeat center center;
        }
    </style>
</head>
<body class="theme-cyan">

<!-- Overlay For Sidebars -->

<div id="wrapper">

    <!-- Header -->
    {% include 'admin/header.html' %}

    <!-- Menu -->
    {% include 'admin/menu.html' %}

    <!-------------------- View Users header-------------------->
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a>Manage Video</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>View Video</h2>
                    </div>
                    <div class="body">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                            <tr>
                                <th>Video FileName</th>
                                <th>Video FilePath</th>
                                <th>View Detection</th>
                                <th>Accuracy</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>video12</td>
                                <td>c:/user/video</td>
                                <td>
                                    <button>view</button>
                                </td>
                                <td>100</td>
                                <td class="actions">
                                    <button class="btn btn-sm btn-icon btn-pure btn-default on-editing m-r-5 button-save"
                                            data-toggle="tooltip" data-original-title="Save" hidden><i
                                            class="icon-drawer" aria-hidden="true"></i></button>
                                    <button class="btn btn-sm btn-icon btn-pure btn-default on-editing button-discard"
                                            data-toggle="tooltip" data-original-title="Discard" hidden><i
                                            class="icon-close" aria-hidden="true"></i></button>
                                    <button class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-edit"
                                            data-toggle="tooltip" data-original-title="Edit"><i class="icon-pencil"
                                                                                                aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-sm btn-icon btn-pure btn-default on-default button-remove"
                                            data-toggle="tooltip" data-original-title="Remove"><i class="icon-trash"
                                                                                                  aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="../../static/adminResources/js/libscripts.bundle.js"></script>
<script src="../../static/adminResources/js/vendorscripts.bundle.js"></script>

<script src="../../static/adminResources/js/datatablescripts.bundle.js"></script>
<script src="../../static/adminResources/js/dataTables.buttons.min.js"></script>
<script src="../../static/adminResources/js/buttons.bootstrap4.min.js"></script>
<script src="../../static/adminResources/js/buttons.colVis.min.js"></script>
<script src="../../static/adminResources/js/buttons.html5.min.js"></script>
<script src="../../static/adminResources/js/buttons.print.min.js"></script>

<script src="../../static/adminResources/js/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->


<script src="../../static/adminResources/js/mainscripts.bundle.js"></script>
<script src="../../static/adminResources/js/jquery-datatable.js"></script>
</body>
</html>
