<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rivox - HTML 5 Template Preview</title>

    <!-- Stylesheets -->
    <link href="../../static/userResources/css/style.css" rel="stylesheet">
    <link href="../../static/userResources/css/responsive.css" rel="stylesheet">
    <link rel="icon" href="../../static/userResources/images/favicon.ico" type="image/x-icon">

</head>

<!-- page wrapper -->
<body class="boxed_wrapper">


<!-- Main Header -->
{% include 'user/menu.html' %}
<!-- End Main Header -->


<!--Page Title-->
<section class="page-title centred">
    <div class="container">
        <div class="content-box">
            <h1>About Us</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>About Project</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->


<!-- about-section -->
<section class="about-section style-two about-page-1">
    <div class="anim-icon">
        <div class="icon icon-3 rotate-me"></div>
        <div class="icon icon-4 float-bob-y"></div>
        <div class="icon icon-5"></div>
    </div>
    <div class="container">
        <div class="top-content">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 video-column">
                    <div class="video-content clearfix" data-aos="fade-right" data-aos-easing="linear"
                         data-aos-duration="1500">
                        <figure class="image"><img src="../../static/userResources/images/Dashboardimage.jpg" alt="">
                        </figure>
                        <div class="video-icon wow zoomIn" data-wow-delay="2000ms" data-wow-duration="1500ms">
                            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s"
                               class="overlay-link lightbox-image" data-caption=""><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="sec-title">
                            <h4>About Project</h4>
                            <h1>Multinational food chain.</h1>
                        </div>
                        <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incid idunt labore
                            dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco.
                        </div>
                        <ul class="list">
                            <li>Various Analysis Options</li>
                            <li>Page Load Details (time, size, number of requests)</li>
                            <li>Waterfall, Video and Report History</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 left-column">
                    <div class="left-content">
                        <h2>Our Mission</h2>
                        <div class="text">
                            <p>Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore magna
                                aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo.</p>
                        </div>
                        <ul class="list">
                            <li>Various Analysis Options</li>
                            <li>Page Load Details (time, size, number of requests)</li>
                            <li>Waterfall, Video and Report History</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 right-column">
                    <div class="right-content">
                        <h2>Our Goal</h2>
                        <div class="text">
                            <p>Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore magna
                                aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat.duis aute irure dolor in reprehenderit. in voluptate velit esse
                                cillum dolore eu fugiat. nulla pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->

<!--&lt;!&ndash; main-footer &ndash;&gt;-->
{% include 'user/footer.html' %}
<!--&lt;!&ndash; main-footer end &ndash;&gt;-->

<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
    <span class="text">Top</span>
</button>


<!-- jequery plugins -->
<script src="../../static/userResources/js/jquery.js"></script>
<script src="../../static/userResources/js/popper.min.js"></script>
<script src="../../static/userResources/js/bootstrap.min.js"></script>

<script src="../../static/userResources/js/owl.js"></script>
<script src="../../static/userResources/js/wow.js"></script>
<script src="../../static/userResources/js/validation.js"></script>
<script src="../../static/userResources/js/jquery.fancybox.js"></script>
<script src="../../static/userResources/js/appear.js"></script>
<script src="../../static/userResources/js/aos.js"></script>
<script src="../../static/userResources/js/jquery.paroller.min.js"></script>

<!-- main-js -->
<script src="../../static/userResources/js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
