<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="/X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CVBBD</title>

    <!-- Stylesheets -->
    <link href="../../static/userResources/css/style.css" rel="stylesheet">
    <link href="../../static/userResources/css/responsive.css" rel="stylesheet">
    <link rel="icon" href="../../static/userResources/images/favicon.ico" type="image/x-icon">

</head>

<!-- page wrapper -->
<body class="boxed_wrapper">

<!-- Main Header -->
{% include 'user/menu.html' %}
<!-- End Main Header -->

<!--Page Title-->
<section class="page-title centred">
    <div class="container">
        <div class="content-box">
            <h1>Purchase Package</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="/user/loadDashboard">Home</a></li>
                <li><a href="/user/loadPurchase">Purchase Package</a></li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- pricing-style-two -->
<section class="pricing-style-two centred">
    <div class="anim-icon">
        <div class="icon icon-1 rotate-me"></div>
        <div class="icon icon-2 rotate-me"></div>
        <div class="icon icon-3 float-bob-y"></div>
    </div>
    <div class="container">
        <div class="sec-title">
            <h4>Pricing Table</h4><br>
            <h1>No hidden charge choose<br/>your pricing plan</h1>
        </div>
        <div class="inner-content">

            <div class="row">
                {% for i in packageVOList %}
                    <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                        <div class="pricing-table">
                            <div class="table-header">
                                <h1 class="price">{{ i['packageName'] }}</h1>
                                <h4>{{ i['packagePrice'] }}</h4>
                            </div>
                            <div class="table-content">
                                <ul>
                                    <li>{{ i['packageDuration'] }}</li>
                                </ul>
                            </div>
                            <div class="btn-box"><a href="/user/loadPayment?packageId={{ i['packageId'] }}"
                                                    class="btn-style-two">Purchase Now</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
<!-- pricing-style-two end -->

<!-- subscribe-style-two -->
<section class="subscribe-style-two">
    <div class="anim-icon">
        <div class="icon icon-1 rotate-me"></div>
        <div class="icon icon-2"></div>
        <div class="icon icon-3 rotate-me"></div>
        <div class="icon icon-4"></div>
        <div class="icon icon-5 rotate-me"></div>
        <div class="icon icon-6"></div>
        <div class="icon icon-7 rotate-me"></div>
        <div class="icon icon-8 float-bob-y"></div>
    </div>
    <div class="container">

    </div>
</section>
<!-- subscribe-style-two end -->

<!--&lt;!&ndash; main-footer &ndash;&gt;-->
<!--{% include 'user/footer.html' %}-->
<!--&lt;!&ndash; main-footer end &ndash;&gt;-->


<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
    <span class="text">Top</span>
</button>


<!-- jequery plugins -->
<script src="../../static/userResources/js/jquery.js"></script>
<script src="../../static/userResources/js/popper.min.js"></script>
<script src="../../static/userResources/js/bootstrap.min.js"></script>

<script src="../../static/userResources/js/owl.js"></script>
<script src="../../static/userResources/js/wow.js"></script>
<script src="../../static/userResources/js/validation.js"></script>
<script src="../../static/userResources/js/jquery.fancybox.js"></script>
<script src="../../static/userResources/js/appear.js"></script>
<script src="../../static/userResources/js/aos.js"></script>
<script src="../../static/userResources/js/jquery.paroller.min.js"></script>

<!-- main-js -->
<script src="../../static/userResources/js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
