<header class="main-header style-three">
    <div class="outer-container">
        <div class="main-box clearfix">
            <div class="logo-box">
                <figure class="logo"><a href=/user/loadDashboard><img
                        src="../../static/userResources/images/logouser1.png"
                        alt=""></a></figure>
            </div>
            <div class="nav-outer clearfix">
                <div class="menu-area">
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="/user/loadDashboard">Home</a></li>
                                <li class="dropdown"><a href="#">Detection</a>
                                    <ul>
                                        <li><a href="/user/loadVideo">Perform Detection</a></li>
                                        <li><a href="/user/viewVideo">View Detection</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Branch</a>
                                    <ul>
                                        <li><a href="/user/loadBranch">Add Branch</a></li>
                                        <li><a href="/user/viewBranch">View Branch</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Purchase</a>
                                    <ul>
                                        <li><a href="/user/loadPurchase">View Package</a></li>
                                        <li><a href="/user/viewPurchase">View Purchase</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Complain</a>
                                    <ul>
                                        <li><a href="/user/loadComplain">Post Complain</a></li>
                                        <li><a href="/user/viewComplain">View Complain</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Feedback</a>
                                    <ul>
                                        <li><a href="/user/loadFeedback">Post Feedback</a></li>
                                        <li><a href="/user/viewFeedback">View Feedback</a></li>
                                    </ul>
                                </li>
                                <li><a href="/user/loadAbout">About</a></li>
                                <li><a href="/admin/logoutSession" class="icon-menu">Logout</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container clearfix">
            <!--<div class="logo-box">-->
            <!--<figure class="logo"><a href=/user/loadDashboard ><img src="../../static/userResources/images/logouser.png"-->
            <!--alt=""></a></figure>-->
            <!--</div>-->
            <div class="nav-outer clearfix">
                <div class="menu-area">
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="/user/loadDashboard">Home</a></li>
                                <li class="dropdown"><a href="#">Detection</a>
                                    <ul>
                                        <li><a href="/user/loadVideo">Perform Detection</a></li>
                                        <li><a href="/user/viewVideo">View Detection</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Branch</a>
                                    <ul>
                                        <li><a href="/user/loadBranch">Add Branch</a></li>
                                        <li><a href="/user/viewBranch">View Branch</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Purchase</a>
                                    <ul>
                                        <li><a href="/user/loadPurchase">View Package</a></li>
                                        <li><a href="/user/viewPurchase">View Purchase</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Complain</a>
                                    <ul>
                                        <li><a href="/user/loadComplain">Post Complain</a></li>
                                        <li><a href="/user/viewComplain">View Complain</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Feedback</a>
                                    <ul>
                                        <li><a href="/user/loadFeedback">Post Feedback</a></li>
                                        <li><a href="/user/viewFeedback">View Feedback</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="/admin/logoutSession" class="icon-menu">Logout</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div><!-- sticky-header end -->
</header>
<!-- End Main Header -->
